<?xml version="1.0"?>
<config>
    <modules>
        <KL_Klarna>
            <version>0.0.3</version>
        </KL_Klarna>
    </modules>
    <frontend>
        <routers>
            <modulename>
                <use>standard</use>
                <args>
                    <module>KL_Klarna</module>
                    <frontName>klarna</frontName>
                </args>
            </modulename>
        </routers>
        <layout>
            <updates>
                <klarna module="kl_klarna">
                    <file>kl_klarna.xml</file>
                </klarna>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <klarna>
                <class>KL_Klarna_Block</class>
            </klarna>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>KL_Klarna_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                </rewrite>
                <rewrite>
                    <sales_order_invoice_totals>KL_Klarna_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <klarna>
                <class>KL_Klarna_Helper</class>
            </klarna>
        </helpers>
        <models>
            <klarna>
                <class>KL_Klarna_Model</class>
                <resourceModel>klarna_resource</resourceModel>
            </klarna>
        </models>
        <resources>
            <klarna_setup>
                <setup>
                    <module>KL_Klarna</module>
                    <class>KL_Klarna_Model_Resource_Setup</class>
                </setup>
            </klarna_setup>
        </resources>
        <events>
            <!--sales_order_save_before>
                <observers>
                    <klarna_observer>
                        <type>singleton</type>
                        <class>KL_Klarna_Model_Observer</class>
                        <method>sales_order_save_before</method>
                    </klarna_observer>
                </observers>
            </sales_order_save_before-->
        </events>
        <sales>
            <quote>
                <totals>
                    <klarna_total>
                        <class>KL_Klarna_Model_Totals_Address</class>
                        <after>shipping</after>
                        <before>grand_total,tax</before>
                    </klarna_total>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <klarna_total>
                        <class>KL_Klarna_Model_Totals_Invoice</class>
                        <after>shipping</after>
                        <before>grand_total,tax</before>
                    </klarna_total>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <klarna_total>
                        <class>KL_Klarna_Model_Totals_Creditmemo</class>
                        <after>shipping</after>
                        <before>grand_total,tax</before>
                    </klarna_total>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <base_klarna_total>
                    <to_order>*</to_order>
                </base_klarna_total>
                <klarna_total>
                    <to_order>*</to_order>
                </klarna_total>
            </sales_convert_quote_address>
            <sales_convert_quote>
                <base_klarna_total>
                    <to_order>*</to_order>
                </base_klarna_total>
                <klarna_total>
                    <to_order>*</to_order>
                </klarna_total>
            </sales_convert_quote>
            <sales_convert_order>
                <base_klarna_total>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </base_klarna_total>
                <klarna_total>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </klarna_total>
            </sales_convert_order>
        </fieldsets>
    </global>
    <klarna>
        <countries>
            <se>
                <code>SE</code>
                <currency>SEK</currency>
                <name>Sweden</name>
                <language>SV</language>
                <can_search_address>1</can_search_address>
            </se>
            <fi>
                <code>FI</code>
                <currency>EUR</currency>
                <name>Finland</name>
                <language>FI</language>
                <can_search_address>0</can_search_address>
            </fi>
            <dk>
                <code>DK</code>
                <currency>DKK</currency>
                <name>Denmark</name>
                <language>DA</language>
                <can_search_address>0</can_search_address>
            </dk>
        </countries>
    </klarna>
    <default>
        <payment>
            <klarna>
                <live>0</live>
                <debug>1</debug>
                <emailinvoice>1</emailinvoice>
                <postalinvoice>0</postalinvoice>
                <klarnajs>1</klarnajs>
                <address_separator_br>1</address_separator_br>
            </klarna>
            <klarna_invoice>
                <title>Klarna Invoice</title>
                <active>0</active>
                <model>klarna/payment_invoice</model>
                <payment_action>authorize</payment_action>
                <fee>0</fee>
            </klarna_invoice>
            <klarna_partpayment>
                <title>Klarna Part Payment</title>
                <active>0</active>
                <model>klarna/payment_partpayment</model>
                <payment_action>authorize</payment_action>
            </klarna_partpayment>
            <klarna_specpayment>
                <active>0</active>
                <model>klarna/payment_specpayment</model>
                <payment_action>authorize</payment_action>
            </klarna_specpayment>
        </payment>
    </default>
</config>