<?xml version="1.0"?>
<config>
    <modules>
        <KL_Klarna>
            <version>0.1.0</version>
        </KL_Klarna>
    </modules>
    <klarna>
        <countries>
            <se>
                <code>SE</code>
                <currency>SEK</currency>
                <name>Sweden</name>
                <language>SV</language>
                <can_search_address>1</can_search_address>
            </se>
            <fi>
                <code>FI</code>
                <currency>EUR</currency>
                <name>Finland</name>
                <language>FI</language>
                <can_search_address>0</can_search_address>
            </fi>
            <dk>
                <code>DK</code>
                <currency>DKK</currency>
                <name>Denmark</name>
                <language>DA</language>
                <can_search_address>0</can_search_address>
            </dk>
        </countries>
    </klarna>
    <global>
        <resources>
            <klarna_setup>
                <setup>
                    <module>KL_Klarna</module>
                    <class>KL_Klarna_Model_Resource_Setup</class>
                </setup>
            </klarna_setup>
        </resources>
        <helpers>
            <klarna>
                <class>KL_Klarna_Helper</class>
            </klarna>
        </helpers>
        <models>
            <klarna>
                <class>KL_Klarna_Model</class>
                <resourceModel>klarna_resource</resourceModel>
            </klarna>
            <klarna_resource>
                <class>KL_Klarna_Model_Resource</class>
                <entities>
                    <pclass>
                        <table>klarna_pclass</table>
                    </pclass>
                </entities>
            </klarna_resource>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <klarna>
                    <files>
                        <default>KL_Klarna.csv</default>
                    </files>
                </klarna>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <klarna>
                <live>0</live>
                <debug>0</debug>
            </klarna>
            <klarna_invoice>
                <title>Klarna Invoice</title>
                <active>0</active>
                <model>klarna/invoice</model>
                <payment_action>authorize</payment_action>
            </klarna_invoice>
            <klarna_partpayment>
                <title>Klarna Part Payment</title>
                <active>0</active>
                <model>klarna/partpayment</model>
                <payment_action>authorize</payment_action>
            </klarna_partpayment>
        </payment>
    </default>
</config>
