<?xml version="1.0"?>
<config>
    <modules>
        <KL_Klarna>
            <version>0.0.1</version>
        </KL_Klarna>
    </modules>
    <frontend>
        <routers>
            <modulename>
                <use>standard</use>
                <args>
                    <module>KL_Klarna</module>
                    <frontName>klarna</frontName>
                </args>
            </modulename>
        </routers>
    </frontend>
    <global>
        <blocks>
            <klarna>
                <class>KL_Klarna_Block</class>
            </klarna>
        </blocks>
        <helpers>
            <klarna>
                <class>KL_Klarna_Helper</class>
            </klarna>
        </helpers>
        <models>
            <klarna>
                <class>KL_Klarna_Model</class>
                <resourceModel>klarna_resource</resourceModel>
            </klarna>
        </models>
    </global>
    <klarna>
        <countries>
            <se>
                <code>SE</code>
                <currency>SEK</currency>
                <name>Sweden</name>
                <language>SV</language>
                <can_search_address>1</can_search_address>
            </se>
            <fi>
                <code>FI</code>
                <currency>EUR</currency>
                <name>Finland</name>
                <language>FI</language>
                <can_search_address>0</can_search_address>
            </fi>
            <dk>
                <code>DK</code>
                <currency>DKK</currency>
                <name>Denmark</name>
                <language>DA</language>
                <can_search_address>0</can_search_address>
            </dk>
        </countries>
    </klarna>
    <default>
        <payment>
            <klarna>
                <live>0</live>
                <debug>0</debug>
            </klarna>
            <klarna_invoice>
                <title>Klarna Invoice</title>
                <active>0</active>
                <model>klarna/invoice</model>
                <payment_action>authorize</payment_action>
            </klarna_invoice>
            <klarna_partpayment>
                <title>Klarna Part Payment</title>
                <active>0</active>
                <model>klarna/partpayment</model>
                <payment_action>authorize</payment_action>
            </klarna_partpayment>
            <klarna_specpayment>
                <active>0</active>
                <model>klarna/specpayment</model>
                <payment_action>authorize</payment_action>
            </klarna_specpayment>
        </payment>
    </default>
</config> 